@import 'https://cdn.omise.co/fonts/icons.css';
@import 'https://cdn.omise.co/fonts/circular.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-display;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  @apply outline-none focus:outline-none;
}

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-6;
}

input:focus-within ~ label {
  @apply text-primary;
}
